#titre{
    text-align: left;
    font-family: "openSansLight";
    font-size: medium;
    margin-left: 20px;
    margin-top: 20px;
}
h7{
    font-style: normal;
}
#promotion{
    font-weight: bolder;
    margin-left: 30px;
}
#groupe{
    font-weight: lighter;
    margin-left: 30px;
}
#etudiant{
    margin-left: 40px;
    font-style: italic;
}