#header {
    background-color: #002B44;
    width: auto;
    height: 50px;
    color: #ECECEC;
    text-align: center;
}

nav.nav {
    display: flex;
    list-style: none;
}

nav.nav li {
    padding-left: 3%;
    padding-right: 3%;
    padding-top:1%;
}

.flex-contain {
    text-align: center;
    position: fixed;
    right: 0;
    top : 0;
}
.flexboxLogo {
    margin-left: 2%;
    margin-right: 2%;
    color: #ECECEC;
    float : left;
}

.flexboxText {
    padding-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    color: #ECECEC;
    float : left;
}
a {
    color: #ECECEC;
    font-family: "openSansLight";
    text-decoration: none;
}
footer{
    /* background-attachment:fixed; */
    background-color: #002B44;
    color:#ECECEC;
    font-family: "openSansLight";
    font-size: x-small;
    padding-top: 5px;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 5px;
    height: 15px;
    display: flex;
    justify-content: space-between;
}
body {
    margin: 0 ;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ECECEC;
}
@font-face {
    font-family: openSansLight;
    src: url(font/openSansLight.ttf);
  }
@font-face {
    font-family: openSansBold;
    src: url(font/openSansBold.ttf);
  }
h1{
    text-align: center;
    font-family: "openSansBold";
    font-size:xx-large;
    margin: 0%;
}
h2{
    text-align: left;
    font-family: "openSansLight";
    font-weight: bold;
    padding: 5%;
}
.legend{
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
    font-family: "openSansLight";
}
.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}
#tailleImgOmnesSkills {
    width:700px
}
.menuLogo {
    width:45px;
    height:45px;
    padding-top: 2px;
}
#bodyProfil {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    text-align: left;
    height: 280px;
}
.textProfil {
    font-family: "openSansLight";
    padding-left: 1%;
    padding-bottom: 3%;
}
.textBoldProfil {
    font-family: "openSansBold";
}
#imgLyonCityProfil{
    float: right;
    height: 400px;
    width: 50%;
    /*margin-right: 3%;
    margin-top: 2%;*/
}