#header {
    background-color: #002B44;
    width: auto;
    height: 50px;
    color: #ECECEC;
    text-align: center;
}

.flexboxLogo {
    margin-left: 2%;
    margin-right: 2%;
    color: #ECECEC;
    float : left;
}

.flexboxText {
    padding-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    color: #ECECEC;
    float : left;
}
a {
    color: #ECECEC;
    font-family: "openSansLight";
    text-decoration: none;
}
footer{
    /* background-attachment:fixed; */
    background-color: #002B44;
    color:#ECECEC;
    font-family: "openSansLight";
    font-size: x-small;
    padding-top: 5px;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 5px;
    height: 15px;
    display: flex;
    justify-content: space-between;

}
body {
    margin: 0 ;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ECECEC;
} 
@font-face {
    font-family: openSansLight;
    src: url(font/openSansLight.ttf);
  }
@font-face {
    font-family: openSansBold;
    src: url(font/openSansBold.ttf);
  }
h1{
    text-align: center;
    font-family: "openSansBold";
    font-size:xx-large;
    margin: 0%;
}
h2{
    text-align: left;
    font-family: "openSansLight";
    font-weight: bold;
    padding: 5%;
}
.legend{
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
    font-family: "openSansLight";
}
.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}
#tailleImgOmnesSkills {
    width:700px
}
.menuLogo {
    width:45px;
    height:45px;
    padding-top: 2px;
}
#bodyProfil {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    text-align: left;
}
.textProfil {
    font-family: "openSansLight";
    padding-left: 1%;
    padding-bottom: 3%;
}
.textBoldProfil {
    font-family: "openSansBold";
}
.connexionPage {
    background-image: url(img/ImagePageConnexion.png);
    background-size: cover; /* l'image est redimensionnée pour couvrir toute la zone du conteneur */
    background-repeat: no-repeat; /* l'image ne se répète pas */
}
.login-form {
	width: 30%;
    margin-left: 15%;
	padding: 20px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.login-form h3 {
	margin: 0 0 20px;
	text-align: center;
}

.login-form label {
	display: block;
	margin-bottom: 5px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
	width: 92%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background: #f2f2f2;
}

.login-form input[type="submit"] {
	width: 100%;
	padding: 10px;
    margin-bottom: 10px;
	border: none;
	border-radius: 5px;
	background: #002B44;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}

.login-form input[type="submit"]:hover {
	background: #002B70;
}
#tailleImgOmnesSkillsConnexionPage{
    text-align: left;
    padding-left: 40px;
    width:60%;

}
