#bodyProfil {
    padding-top: 7%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    text-align: left;
}
.textProfil {
    font-family: "openSansLight";
    padding-left: 1%;
    padding-bottom: 3%;
}
.textBoldProfil {
    font-family: "openSansBold";
}
#imgLyonCityProfil{
    padding-top: 4%;
    float: right;
    height: 400px;
    width: 50%;
    /*margin-right: 3%;
    margin-top: 2%;*/
}
#boutonChangementMDP{
    background-color: #002B44;
    color: #ECECEC;
    font-family: "openSansLight";
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#boutonDeconnexion{
    background-color: #002B44;
    color: #ECECEC;
    font-family: "openSansLight";
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}


/*Modifier compte*/
#bodyModifierCompte{
	padding-top: 50px;
}
#formulaireMofifCompte{
    margin-top: 20px;
}
#imgLyonCityProfil2{
    padding-top: 4%;
    float: right;
    height: 400px;
    width: 50%;
    /*margin-right: 3%;
    margin-top: 2%;*/
}

.login-form2 h3 {
	margin: 0 0 20px;
	text-align: center;
}
.login-form2 label {
	display: block;
	margin-bottom: 5px;
}
.login-form2 input[type="text"],
.login-form2 input[type="password"] {
	width: 92%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background: #f2f2f2;
}
.login-form2 input[type="submit"] {
	width: 100%;
	padding: 10px;
    margin-bottom: 10px;
	border: none;
	border-radius: 5px;
	background: #002B44;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}
.login-form2 input[type="submit"]:hover {
	background: #002B70;
}