.flexboxMatieres{
    margin-top: 7%;
    margin-left: 2%;
    margin-right: 2%;
    height: 200px;
    width: 200px;
    background-color: #002B44;
    color: #ECECEC;
    float : left;
    border-radius: 10px;
    /*text-align: center;*/
    justify-content: center;
    align-items: center;
    display:flex;
}
.flex-container-mesMatieres{
    /*min-height: 300px;*/
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

#competencesParMatiere{
    padding-top: 50px;
}
#bodyModifMatiere{
    padding-top: 50px;
}
#formulaireMofifMatiere{
    padding: 150px;
}
