.flexboxMatieres{
    margin-top: 7%;
    margin-left: 2%;
    margin-right: 2%;
    height: 200px;
    width: 200px;
    background-color: #002B44;
    color: #ECECEC;
    float : left;
    border-radius: 10px;
    text-align: center;
}
.flex-container-mesMatieres{
    min-height: 300px;
}
.aaa{
    min-height: 300px;
    padding-top:100px;
    color: red;
}
#ajouterMatiere{
    color:blueviolet;
}

