#bodyToutesCompetencesPage{
    height: 500px;
    padding-top: 80px;
}
#bodyModifCompetence{
    height: 500px;
    padding-top: 100px;
}

table{
    margin-left: 5%;
}
#textLigne1 {
    font-family: "openSansBold";
    font-size: large;
    color: #002B44;
}
#textColonne1 {
    font-family: "openSansLight";
    font-weight: bold;
    font-size: medium;
    color: #002B44;
    margin-left: 20px;
}
.textColonne {
    text-align: center;
    font-family: "openSansLight";
    color: #002B44;
}


.checkCompetences{
    padding-top: 5px;
    padding-left: 10px;
    height: 20px;
    width: 20px;
}
#textColonneSelection{
    text-align: center;
}