#bodyToutesCompetencesPage{
    padding-top: 80px;
}
#bodyModifCompetence{
    padding-top: 100px;
}

table{
    margin-left: 5%;
}
#textLigne1 {
    font-family: "openSansBold";
    font-size: large;
    color: #002B44;
}
#textColonne1 {
    font-family: "openSansLight";
    font-weight: bold;
    font-size: medium;
    color: #002B44;
    margin-left: 20px;
}
.textColonne {
    text-align: center;
    font-family: "openSansLight";
    color: #002B44;
}


