.bodyComptesPage{
    padding-top: 80px;
}
#bodyModifCompte{
    padding-top: 100px;
}
#bodyCreerEcolePromoClasse{
    padding-top: 50px;
}
#formulaireModificationCompte{
    padding-top: 12%;
    padding-left: 9%;
    padding-bottom: 1%;
}